<h2>Reactivos: <small>Básicos</small></h2>
<hr>

<div class="row">
    <div class="col">

        <!-- miFormulario : Propiedad del componente TS, el cual es de tipo "FormGroup" -->
        <form (ngSubmit)="guardar()" autocomplete="off" [formGroup]="miFormulario">

            <!-- CAMPO DE PRODUCTO-->
            <div class="mb-3 row">
                <label class="col-sm-3 col-form-label">Producto</label>
                <div class="col-sm-9">

                    <!-- formControlName="nombre" : De esta forma relacionamos la porpiedad "nombre" del componente con este campo del tempalte -->
                    <input type="text" class="form-control" formControlName="nombre" placeholder="Nombre del producto">

                    <!-- campoNoEsValido('nombre') : Evaluamos la validación enviando el campo relacionado con el "formControlName"  -->
                    <span class="form-text text-danger" *ngIf="campoNoEsValido('nombre')">Debe
                        de ser de 3
                        letras</span>
                </div>
            </div>

            <!-- CAMPO DE PRECIO -->
            <div class="mb-3 row">
                <label class="col-sm-3 col-form-label">Precio</label>
                <div class="col-sm-9">
                    <input type="number" class="form-control" formControlName="precio"
                        placeholder="Precio del producto">
                    <span class="form-text text-danger" *ngIf="campoNoEsValido('precio')">El precio debe ser 0 o
                        mayor</span>
                </div>
            </div>
            <!-- CAMPO DE EXISTENCIAS -->
            <div class="mb-3 row">
                <label class="col-sm-3 col-form-label">Existencias</label>
                <div class="col-sm-9">

                    <input type="number" class="form-control" formControlName="existencias"
                        placeholder="Existencias del producto">
                    <span class="form-text text-danger" *ngIf="campoNoEsValido('existencias')">Las existencias deben ser
                        0 o mayor</span>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <button type="submit" class="btn btn-primary float-end">Guardar</button>
                </div>
            </div>
        </form>
    </div>
</div>

<!-- .errors queda comentado ya que es un valor condicionado a que exista la propiedad de "existencias" -->

<div class="row">
    <div class="col">
        <span>Valid</span>
        <pre>{{ miFormulario.valid }}</pre>

        <span>Pristine</span>
        <pre>{{ miFormulario.pristine | json }}</pre>

        <span>Touched</span>
        <pre>{{ miFormulario.touched | json }}</pre>

        <span>Value</span>
        <pre>{{ miFormulario.value | json }}</pre>

        <span>Precio</span>
        <pre>{{ miFormulario.controls['precio'].errors | json }}</pre>

    </div>
</div>