<h2>Reactivos: <small>Switches</small> </h2>
<hr>
<form [formGroup]="miFormulario" (ngSubmit)="guardar()">
    <!-- RADIO -->
    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Género</label>
        <div class="col-sm-9">
            <!--  name="radioGenero" : Debe ser el mismo para los radios a usar, para indicar que sea solo uno -->
            <div class="form-check">
                <!-- El atributo "name" para el "<input>" de tipo "radio" debe ser eliminado sino arroja error -->
                <input class="form-check-input" type="radio" value="M" formControlName="genero" id="radioMasculino">
                <label class="form-check-label" for="radioMasculino">
                    Masculino
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" value="F" formControlName="genero" id="radioFemenino">
                <label class="form-check-label" for="radioFemenino">
                    Femenino
                </label>
            </div>
        </div>
    </div>

    <!-- SWITCH -->
    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Notificaciones</label>
        <div class="col-sm-9">
            <div class="form-check form-switch mt-2">
                <input class="form-check-input" type="checkbox" formControlName="notificaciones" role="switch"
                    id="notificacionCheck">
                <label class="form-check-label" for="notificacionCheck">Quiero recibir notificaciones</label>
            </div>
        </div>
    </div>
    <!-- CHECK -->
    <div class="row mb-3">
        <label class="col-sm-3 col-form-label"></label>
        <div class="col-sm-9">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" formControlName="condiciones" id="terminosCheck">
                <label class="form-check-label" for="terminosCheck">
                    Términos y condiciones de uso
                </label>
            </div>
        </div>
    </div>
    <!-- CHECK -->
    <div class="row">
        <div class="col">
            <button type="button" class="btn btn-primary float-end">Guardar</button>
        </div>
    </div>

</form>

<h5>Valores del formulario</h5>
<pre> {{miFormulario.value | json}} </pre>
<br>

<h5>Persona</h5>
<pre> {{persona | json}} </pre>
<br>

<h5>Valid</h5>
<pre> {{miFormulario.valid}} </pre>
<br>

<!-- <h5>Términos</h5>
<pre> {{miFormulario.form.controls['terminos']?.errors | json}} </pre>

<pre> Condiciones:  </pre> -->