<h2>Template: <small>Switches</small> </h2>
<hr>
<form #miFormulario="ngForm">
    <!-- RADIO -->
    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Género</label>
        <div class="col-sm-9">
            <!--  name="radioGenero" : Debe ser el mismo para los radios a usar, para indicar que sea solo uno -->
            <div class="form-check">
                <input class="form-check-input" type="radio" value="M" [(ngModel)]="persona.genero" name="radioGenero"
                    id="radioMasculino" required>
                <label class="form-check-label" for="radioMasculino">
                    Masculino
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" value="F" [(ngModel)]="persona.genero" name="radioGenero"
                    id="radioFemenino" required>
                <label class="form-check-label" for="radioFemenino">
                    Femenino
                </label>
            </div>
        </div>
    </div>

    <!-- SWITCH -->
    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Notificaciones</label>
        <div class="col-sm-9">
            <div class="form-check form-switch mt-2">
                <input class="form-check-input" type="checkbox" [(ngModel)]="persona.notificaciones"
                    name="notificaciones" role="switch" id="notificacionCheck">
                <label class="form-check-label" for="notificacionCheck">Quiero recibir notificaciones</label>
            </div>
        </div>
    </div>
    <!-- CHECK -->
    <div class="row mb-3">
        <label class="col-sm-3 col-form-label"></label>
        <div class="col-sm-9">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" [(ngModel)]="terminosYCondiciones" name="terminos"
                    id="terminosCheck" required>
                <label class="form-check-label" for="terminosCheck">
                    Términos y condiciones de uso
                </label>
            </div>
        </div>
    </div>
    <!-- CHECK -->
    <div class="row">
        <div class="col">
            <button class="btn btn-primary float-end" [disabled]="miFormulario.invalid">Guardar</button>
        </div>
    </div>

</form>

<h5>Valor del formulario</h5>
<pre> {{miFormulario.value | json}} </pre>
<br>

<h5>Persona</h5>
<pre> {{persona | json}} </pre>
<br>

<h5>Valid</h5>
<pre> {{miFormulario.valid}} </pre>
<br>

<h5>Términos</h5>
<pre> {{miFormulario.form.controls['terminos']?.errors | json}} </pre>

<pre> Condiciones:  </pre>